block content
  section.section-header
    .heading-box
      h1.heading-primary
        span= `${book.title} book`
      .heading-box__group
  section.section-description
    .description-box
      h2.heading-secondary.ma-bt-lg= `About ${book.title} book`
      - const parapraphs = book.description.split('\n');
      each p in parapraphs
        p.description__text= p
  section.section-cta
    .cta
      .cta__content
        h2.heading-secondary What are you waiting for?
        if user
          button.btn.btn--green.span-all-rows#book-book(data-book-id=`${book.id}`)  Issue book
        else
          a.btn.btn--green.span-all-rows(href='/login') Issue book